html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size:12px;
}
#iss {
  position: absolute;
  background: #fff;
  opacity: 0.8;
  color: #000;
  top:20px;
  right:20px;
  z-index: 100;
  padding: 15px;
}
.angular-google-map-container {
  height: 400px;
}

#twitterFeed {
  width:80%;
  margin: auto;
}
h1{
  color: #2380E2;
  font-family: sans-serif;
}

.btn {
  background: #639FDE;
  border-radius: 28px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}

.btn:hover{
  background-color: #2380E2;
}


.jumbotron{
  background-color: #dcdcdc;
  text-align: center;
  border-radius: 2px;
}
