<div id="iss">ISS position: {{iss.location.latitude}}:{{iss.location.longitude}}</div>
<div id="toolbar">
  <md-button ui-sref="home" class="md-raised">Space view</md-button>
</div>

<div id="map">
  <map id="map" on-create="mapCreated(map)" data-tap-disabled="true"></map>
</div>

<div id="twitterFeed" ng-if="showTweets">

<nav class="dialogOpt">
  <md-button class="md-fab md-mini md-primary" aria-label="Close" ng-click="closeTweets()" >
      <i class="fa fa-toggle-on"></i>
  </md-button>
</nav>

  <h3 class="col-50">Twitter feeds</h3>
  <p ng-repeat='feed in tweets'> {{feed.text}} </p>
</div>

<div class="twFeedsNav" ng-if="showTweets == false">
  <md-button class="md-fab md-mini md-primary" aria-label="Close" ng-click="closeTweets()" >
      <i class="fa fa-twitter-square"></i>
  </md-button>
</div>